<a href="https://colab.research.google.com/github/JUPUDI-VAMSI-KALYAN/Data_Science-Python-/blob/master/Haker%20Earth%20Hitachi%20challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files
uploaded = files.upload()

Saving sample_submission.csv to sample_submission.csv
Saving Test.csv to Test.csv
Saving Train.csv to Train.csv

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [0]:
train = pd.read_csv("Train.csv")
test = pd.read_csv("Test.csv")
sub = pd.read_csv("sample_submission.csv")
train.index=train['id_code']
train=train.drop('id_code',axis=1)
train.head()

                current_date current_time  ... current_day is_weekend
id_code                                    ...
isfywypmkqqhyft   2016-07-27  08:05:51 PM  ...   Wednesday      False
mqsfxyvuqpbwomk   2016-07-27  08:06:11 PM  ...   Wednesday      False
alspwwtbdvqsgby   2016-07-27  08:08:57 PM  ...   Wednesday      False
szitxhhqduyrqpg   2016-07-27  08:09:08 PM  ...   Wednesday      False
krisdqzczivvwcp   2016-07-27  08:11:01 PM  ...   Wednesday      False

[5 rows x 18 columns]

In [0]:
test.head()

           id_code current_date  ... current_day is_weekend
0  mckbezdplrukagl   2016-10-06  ...    Thursday      False
1  agxwrnbmzbyxsjg   2016-10-06  ...    Thursday      False
2  iqjojyewdyfshtj   2016-10-06  ...    Thursday      False
3  hssqexnzirioaag   2016-10-06  ...    Thursday      False
4  lublknpfraiznhr   2016-10-06  ...    Thursday      False

[5 rows x 18 columns]

In [0]:
train.isnull().sum()

id_code                         0
current_date                    0
current_time                    0
source_name                     0
destination_name                0
train_name                      0
target                          0
country_code_source             1
longitude_source                1
latitude_source                 1
mean_halt_times_source          1
country_code_destination       33
longitude_destination          33
latitude_destination           33
mean_halt_times_destination    33
current_year                    0
current_week                    0
current_day                     0
is_weekend                      0
dtype: int64

In [0]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1284 entries, 0 to 1283
Data columns (total 19 columns):
id_code                        1284 non-null object
current_date                   1284 non-null object
current_time                   1284 non-null object
source_name                    1284 non-null object
destination_name               1284 non-null object
train_name                     1284 non-null object
target                         1284 non-null object
country_code_source            1283 non-null object
longitude_source               1283 non-null float64
latitude_source                1283 non-null float64
mean_halt_times_source         1283 non-null float64
country_code_destination       1251 non-null object
longitude_destination          1251 non-null float64
latitude_destination           1251 non-null float64
mean_halt_times_destination    1251 non-null float64
current_year                   1284 non-null int64
current_week                   1284 non-null int64
current_day                    1284 non-null object
is_weekend                     1284 non-null bool
dtypes: bool(1), float64(6), int64(2), object(10)
memory usage: 181.9+ KB

In [0]:
train.shape

(1284, 19)

In [0]:
train.describe()

       longitude_source  latitude_source  ...  current_year  current_week
count       1283.000000      1283.000000  ...        1284.0   1284.000000
mean           4.292481        50.934674  ...        2016.0     36.781153
std            0.552492         0.206194  ...           0.0      3.175253
min           -0.126061        49.638463  ...        2016.0     30.000000
25%            4.039653        50.845658  ...        2016.0     36.000000
50%            4.360846        50.896456  ...        2016.0     38.000000
75%            4.482785        51.056365  ...        2016.0     39.000000
max            5.982265        51.925093  ...        2016.0     40.000000

[8 rows x 8 columns]

In [0]:
train = train.dropna()

In [0]:
train.shape

(1250, 19)

In [0]:
train.isnull().sum()

id_code                        0
current_date                   0
current_time                   0
source_name                    0
destination_name               0
train_name                     0
target                         0
country_code_source            0
longitude_source               0
latitude_source                0
mean_halt_times_source         0
country_code_destination       0
longitude_destination          0
latitude_destination           0
mean_halt_times_destination    0
current_year                   0
current_week                   0
current_day                    0
is_weekend                     0
dtype: int64

ValueError: ignored